/*
 *  header settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

// logo and menu container

html > body > header {
  box-shadow: 0 0 7px 5px #D3D3D3;
  position: fixed;
  top: 0;
  z-index: 4001;
  right: 0;
  width: 100%;
  min-width: 320px;
  background-color: white;
  .dfi-logo-small {
    display: none;
  }
  &.small-header {
    .dfi-logo {
      display: none;
    }
    .dfi-logo-small {
      display: inline;
    }
  }
}

.header_box {
  display: flex;
  justify-content: flex-end;
  padding: 1.75rem 0 0 0;
  position: relative;
  .project_logo_box {
    z-index: 4002;
    a {
      display: block;
    }
    img {
      margin: 0 0 1.25rem 0;
      height: 115px;
    }
  }
  .project_nav_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    .searchfield_box,
    .search-button {
      order: 1;
    }
    .mir-prop-nav {
      order: 2;
      display: flex;
      justify-content: flex-end;
    }
    .pp-main-nav {
      order: 3;
      flex-basis: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.small-header .header_box .project_logo_box img { height: 71px; }

.search-button {
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  &__icon {
    font-size: 1.25rem;
    margin-right: 6rem;
  }
  &__label {
    font-size: 0.875rem;
    margin-right: 1.5rem;
    font-weight: bold;
  }
  &.closed {
    display: none;
  }
}

.searchfield_box {
  flex: 2 1 auto;
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: fadeOut .15s linear;
  background-color: white;
  display:none;
  &.open {
    animation: fadeIn .15s linear;
    display: flex;
  }
  #searchbar {
    width: 20vw;
  }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
