/*  section home
 *  - settings for homepage only
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

body.mir-start_page {
  .splash {
    padding-left: 0;
    padding-right: 0;
  }
  .page-figure {
    position:relative;
    img {
      width: 100%;
      height: auto;
    }
    .figure-overlay {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 66%;
      min-height: 60%;
      background-color: rgba(255,255,255,0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  #project-searchMainPage {
    padding: 0 3rem;
  }
  #project-searchInput {
    border: 1px solid black;
  }
  .search-button {
    display: none;
  }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
